.header {
  background-color: #75776d;
  color: white;
  padding: 60px 0;
}
.logo-header img {
  width: 120px;
  margin-top: 20px;
  filter: grayscale(100%);
}
.logo-header img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}
.profil-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  max-width: 800px;
  margin: 0 auto 15px;
}
.service-card {
  background-color: #d1d1d1;
  margin-bottom: 20px;
}
.gallery-box {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eee;
}
.gallery-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}